<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShopyMe</title>
</head>

<body>
    <h3>Se connecter</h3>
    <form id="loginForm" method="POST">
        <p>Username</p>
        <input type="text" name="username">
        <br>
        <p>Password</p>
        <input type="password" name="password">
        <br>
        <input type="submit" value="Valider">
    </form>
    <script type="text/javascript" src="../view/js/Login.js"></script>
</body>

</html>